/*----------------------------------------head btn--------------------------------------*/
.headBtn {
    position: absolute;
    right: 50%;
    bottom: 10%;
    color: #eee;
    background-color: var(--background-color-1);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: large;
    border: none;
    border-color: var(--background-color);
}


.headBtn:hover {
    background-color: #eee;
    color: var(--background-color-1);
    transition: background-color 0.5s ease;
}


/*---------------------------------------------nav btn---------------------------------------*/
.nav_btn, .headBtn, a {
    /*margin-left: 20px;*/
    background-color: var(--background-color-1);
    color: #eee;
    letter-spacing: 1px;
    font-size: large;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
}

.nav_btn:hover {
    background-color: lightgrey;
    color: var(--background-color-1);
    transition: background-color 0.5s ease;
}

/*-------------------------------------------------<a>--------------------------*/
a:hover {
    background-color: lightgrey;
    color: var(--background-color-1);
    transition: background-color 0.5s ease;
}

/*------------------------------------------heart & comment & delete &reply---------------------------------*/
.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
}
.heart, .comment ,.delete,.article_edit_btn{
    width: 30px;
}

.heart_btn, .comment_btn ,.delete_btn, .comment_reply_btn,.comment_delete_btn,.add_comment,.comment_add_btn,.article_edit_btn{
    border: none;
    background-color: var(--background-color-6);
    cursor: pointer;
}

.heart_btn:disabled, .comment_btn:disabled ,.delete_btn:disabled{
    cursor: not-allowed;
}

.comment_reply_btn,.comment_delete_btn,.add_comment,.comment_add_btn{
background-color: var(--background-color-5);
}

.reply,.comment_delete{
    width: 20px;
}

.add_comment,.comment_add_btn,.edit_article{
    background-color: transparent;
    width: 30px;
    height: 30px;

}

.article_edit_btn{
    margin-right: 10px;
}

/*----------------------------------------------login & profile---------------------------------*/
.con-box button, .profile_container button ,#done_btn, #create_article_btn, #submitArticle,#submitEditedArticle{
    margin-top: 3%;
    background-color: var(--btn-color);
    color: #eee;
    letter-spacing: 1px;
    font-size: large;
    border-radius: 10px;
    border: 0 solid lightgrey;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
}


.con-box button:hover, .form-box button:hover, .profile_container button:hover ,#done_btn:hover, #submitArticle:hover,#submitEditedArticle:hover,#create_article_btn:hover{
    background-color: lightgrey;
    color: var(--btn-color);
    transition: background-color 0.5s ease;
}

#submitArticle{
    margin-top: 10px;
}

/*-------------------------------create article button -------------------------------*/
#create_article_btn{
    background-image: linear-gradient(to right, var(--background-color-6), var(--btn-color));
    color: var(--title-color);
    padding: 20px 40px;
    font-style: italic;
    font-weight: bolder;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
#create_article_btn:hover{
    color: #eee;
}

#create_article_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, var(--background-color-3), var(--background-color-4), transparent);
    opacity: 0;
    border-radius: 5px;
    z-index: -1;
    transition: opacity 0.3s ease;
}

@keyframes glow {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#create_article_btn:hover::after {
    animation: glow 2s infinite;
}
/*------------------------------------------------------------------*/


.profile_container button ,#done_btn{
    width: 120px;
    height: 35px;
    align-self: center;
    border-radius: 3px;
}



#delete_btn{
    width: 200px;
    background-color: #fff;
}


#delete_btn:hover{
    background-color: var(--active-color);
    color: var(--background-color-6);
    transition: background-color 0.5s ease;
}

/* 关闭按钮样式 */
.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
}

#editedArticleContent{
    height: 100%;
}
